// section carousel

#mainCarousel{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#mainCarousel img{
    height: 50vh;
    object-fit: cover;
}
#mainCarousel .carousel-caption h1, #mainCarousel .carousel-caption h2 {
    text-shadow: 1px 1px 2px #000 ,0 0 0.2em #BAA85A;
}
#mainCarousel .carousel-caption a {
    transition: all 0.1s ease-in-out;
}
#mainCarousel .carousel-caption a:hover {
    transform: scale(1.02);
}

// Cards

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-container a p{
    color: #212529;
}
.card-container a:hover{
    text-decoration: none;
}
.card {
    background-color: #f8f9fa;
    border: none!important;
    overflow: hidden;
    width: 20vw;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
.card h3 {
    margin: 0;
}
.card p {
    margin: 0;
}
.card:hover {
    z-index: 10;
}
.card img {
    height: 200px;
    object-fit: contain;
}
@media (max-width: 900px) {
    .card {
      width: 38vw;
    }
}
@media (max-width: 500px) {
    .card {
      width: 80vw;
    }
}

// Section Quatro

.quatro-wrapper {
    height: 35vh;
    width: 100%;
    overflow: hidden;
}
.quatro-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.quatro-wrapper:hover > img {
    transform: rotate(3deg) scale(1.2);
    opacity: 0.8;
}
.quatro-wrapper h1, .quatro-wrapper h4 {
    text-shadow: 1px 1px 3px black, 0 0 2em #BAA85A, 0 0 0.2em #BAA85A;
}
.quatro-wrapper a{
    margin-top: 15px;
    font-size: 20px;
    border: 2px solid #BAA85A;
    color: black;
}
.quatro-wrapper a:hover {
    color: white;
    background-color: rgba(186, 168, 90, 0.4);
}