<nav id="main-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark text-light">
    <div class="row" style="width:100vw">
        <div class="col-sm-12">
            <header>
                <a class="navbar-brand" [routerLink]="['/']">Kartina</a>
                <form id="fullscreen-search" class="d-none d-lg-block">
                    <input type="text" class="form-control" placeholder="Rechercher sur Kartina...">
                </form>
                <div class="btn-group ml-auto" role="group">
                    <a class="btn btn-dark" [routerLink]="['/account']" *ngIf="userName !== ''" routerLinkActive="active">
                        <i class="fas fa-user"></i>
                        <span class="d-none d-lg-inline"> {{userName}}</span>
                    </a>
                    <a class="btn btn-dark" [routerLink]="['/auth']" routerLinkActive="active" *ngIf="userName === ''">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="d-none d-lg-inline"> Connexion</span>
                    </a>
                    <a class="btn btn-dark" [routerLink]="['/help']" routerLinkActive="active">
                        <i class="far fa-question-circle"></i>
                        <span class="d-none d-lg-inline"> Aide</span>
                    </a>
                    <a class="btn btn-dark" [routerLink]="['/cart']" routerLinkActive="active">
                        <span id="nb-items" class="badge badge-pill badge-danger">{{numberOfItemsInCart}}</span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="d-none d-lg-inline"> Panier</span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
          <span class="navbar-toggler-icon"></span>
        </button>
            </header>
        </div>
        <div class="col-sm-12">
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/photos']" routerLinkActive="active">Photographies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/artists']" routerLinkActive="active">Artistes</a>
                    </li>
                </ul>
                <form id="collapsed-search" class="d-block d-lg-none">
                    <input type="text" class="form-control my-3" placeholder="Rechercher sur Kartina...">
                </form>
            </div>
        </div>
    </div>
</nav>