<section class="container">

    <h1>Connexion</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="login-wrapper m-3 p-4">
                <h3 class="mb-5">Déjà Client</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="email" [ngClass]="{ 'is-invalid': loginForm.controls.email.hasError('email') && loginForm.controls.email.touched}"
                            placeholder="Email" formControlName="email">
                    </div>
                    <div class="form-group mb-5">
                        <input type="password" class="form-control" id="InputPassword" placeholder="Mot de Passe" 
                            formControlName="password" [ngClass]="{ 'is-invalid': loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched}">
                    </div>
                    <p *ngIf="message != null" class="alert alert-danger">{{message}}</p>
                    <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="!loginForm.valid">Se connecter<i class="fas fa-angle-right" ></i></button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="login-wrapper m-3 p-4" >
                <h3 class="mb-5">Vous n'avez pas de compte Kartina</h3>
                <p class="mb-5">Vous pouvez commander sans créer de compte. Vous pourrez créer votre compte plus tard.</p>
                <a [routerLink]="['../register']" class="btn btn-lg btn-block btn-danger">Créer un compte <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>