<div class="row">
    <div class="col-lg">
        <h3 class="mb-4">Mes Photos</h3>
    </div>
    <div class="col-lg">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a [routerLink]="['./artists-photos-add']" class="btn btn-primary text-white" routerLinkActive="active">Nouvelles Ventes</a>
            <a [routerLink]="['./artists-photos-selling']" class="btn btn-primary text-white" routerLinkActive="active">Ventes en Cours</a>
            <a [routerLink]="['./artists-photos-sold']" class="btn btn-primary text-white" routerLinkActive="active">Ventes Passées</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>