<h3>Adresses</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col">24 rue de la gare</div>
            <div class="col">67000</div>
            <div class="col">Strasbourg</div>
            <div class="col">France</div>
        </div>
    </li>
</ul>