<div class="list-group list-group-flush">
    <div  *ngFor="let finish of finishes" >
    <button *ngIf="(finish.formatId == curentFormat)" class="list-group-item list-group-item-action"
        (click)="setSelection(finish.id)" [ngClass]="{'active' : selection === finish.id}">
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" [src]="finish.imageUrl" />
            </div>
            <div class="col">
                <div>
                    <b>{{finish.frName}}</b>
                </div>
                <div>
                    <small>{{finish.frDescription}}</small>
                    <br>
                    <b>{{itemPrice * (finish.percentagePriceChange / 100) | number: '1.2-2'}}€</b>
                </div>
            </div>
        </div>
    </button>
</div>
</div>

<div class="row">
    <div class="col-sm-2">
        <button [routerLink]="" class="btn btn-block btn-lg btn-dark text-light mt-3" (click)="backClicked()">
            <i class="fas fa-angle-double-left"></i>
        </button>
    </div>
    <div class="col-sm">
        <a [routerLink]="['../frame']" class="btn btn-block btn-lg btn-danger text-light mt-3"
            [ngClass]="{'disabled' : selection === 0}" (click)="saveChange()">
            Choisir cette finition
            <i class="fas fa-caret-right"></i>
        </a>
    </div>
</div>