<h3>Commandes</h3>

<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action disabled">
        <div class="row">
            <div class="col">
                <b>Date Commande : </b>20/12/2019
            </div>
            <div class="col">
                <b>Statut : </b>Livrée
            </div>
        </div>
    </a>
    <a class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-md">
                <a [routerLink]="['/photos/1']">
                    <img height="100" src="https://storage.gra1.cloud.ovh.net/v1/AUTH_10e1a9235c63431c95e5b84a247830db/prod/artwork/576360_1_grid.jpg" />
                </a>
            </div>
            <div class="col-md py-2 p-md-0">
                <div>
                    <a [routerLink]="['/artists/1']"><b>Juliette Jourdain</b></a>
                </div>
                <div>
                    <small>The Wonders Anne</small>
                </div>
                <div>
                    <small>Tirage collé sur support alluminium, 500 exemplaires</small>
                </div>
            </div>
            <div class="col-md py-2 p-md-0">
                <div>
                    <small><b>Format : </b></small>
                    <small>Grand 60 x 75 cm</small>
                </div>
                <div>
                    <small><b>Finition : </b></small>
                    <small>Tirage sur papier photo</small>
                </div>
                <div>
                    <small><b>Cadre : </b></small>
                    <small>Sans encadrement</small>
                </div>
            </div>
            <div class="col-md-2 py-2 py-md-4">
                <h3>110.00€</h3>
            </div>
        </div>
    </a>
    <a class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-md">
                <a [routerLink]="['/photos/1']">
                    <img height="100" src="https://storage.gra1.cloud.ovh.net/v1/AUTH_10e1a9235c63431c95e5b84a247830db/prod/artwork/576360_1_grid.jpg" />
                </a>
            </div>
            <div class="col-md py-2 p-md-0">
                <div>
                    <a [routerLink]="['/artists/1']"><b>Juliette Jourdain</b></a>
                </div>
                <div>
                    <small>The Wonders Anne</small>
                </div>
                <div>
                    <small>Tirage collé sur support alluminium, 500 exemplaires</small>
                </div>
            </div>
            <div class="col-md py-2 p-md-0">
                <div>
                    <small><b>Format : </b></small>
                    <small>Grand 60 x 75 cm</small>
                </div>
                <div>
                    <small><b>Finition : </b></small>
                    <small>Tirage sur papier photo</small>
                </div>
                <div>
                    <small><b>Cadre : </b></small>
                    <small>Sans encadrement</small>
                </div>
            </div>
            <div class="col-md-2 py-2 py-md-4">
                <h3>110.00€</h3>
            </div>
        </div>
    </a>
    <div class="row">
        <div class="col-md-5 offset-md-7">
            <div class="bg-white border-bottom border-top p-3 mb-4">
                <div class="row">
                    <div class="col-5">
                        <h4 class="my-2">Total</h4>
                    </div>
                    <div class="col-7 text-right">
                        <p class="m-0"><b>220.00€</b></p>
                        <small>Dont TVA 20% : 18.25€</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>