<div class="d-flex" id="wrapper">

    <div class="bg-primary" id="sidebar-wrapper">
        <div>
            <h4 class="m-3">Thèmes</h4>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setTheme(0)"
                    [ngClass]="{'active' : themeId === 0}">All</a>
                <a *ngFor="let theme of themes" class="list-group-item list-group-item-action bg-primary pl-3"
                    (click)="setTheme(theme.id)" [ngClass]="{'active' : themeId === theme.id}">{{theme.name}}</a>
            </div>
            <h4 class="m-3">Orientations</h4>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setOrientation(null)"
                    [ngClass]="{'active' : orientation === null}">All</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setOrientation('Portrait')"
                    [ngClass]="{'active' : orientation === 'Portrait'}">Portrait</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setOrientation('Paysage')"
                    [ngClass]="{'active' : orientation === 'Paysage'}">Paysage</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setOrientation('Carré')"
                    [ngClass]="{'active' : orientation === 'Carré'}">Carré</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3"
                    (click)="setOrientation('Panoramique')"
                    [ngClass]="{'active' : orientation === 'Panoramique'}">Panoramique</a>
            </div>
            <h4 class="m-3">Prix</h4>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(0, 0)"
                    [ngClass]="{'active' : priceMax === 0}">All</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(0, 49)"
                    [ngClass]="{'active' : priceMax === 49}">-50€</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(50, 99)"
                    [ngClass]="{'active' : priceMax === 99}">50-100€</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(100, 199)"
                    [ngClass]="{'active' : priceMax === 199}">100-200€</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(200, 499)"
                    [ngClass]="{'active' : priceMax === 499}">200-500€</a>
                <a class="list-group-item list-group-item-action bg-primary pl-3" (click)="setPrice(500, 1000)"
                    [ngClass]="{'active' : priceMax === 1000}">500-1000€</a>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper">
        <section class="container-fluid">
            <h1 *ngIf="themeId == 0" class="m-0">Photographies</h1>
            <h1 *ngFor="let theme of themes" class="m-0">
                <span *ngIf="theme.id == themeId">{{theme.name}}</span>
            </h1>
            <p *ngIf="themeId == 0" class="m-0">Kartina a l’honneur de vous présenter dans sa collection de nouvelles
                signatures prestigieuses et vous invite à découvrir ces révélations. Parcourez les nouvelles photos
                d’art des plus grands talents de la photographie sélectionnés par notre comité artistique et exposés
                dans nos galeries.</p>
            <p *ngFor="let theme of themes" class="m-0">
                <span *ngIf="theme.id == themeId">{{theme.description}}</span>
            </p>
            <hr>
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button id="menu-toggle" type="button" class="btn btn-primary text-white">
                        <i class="fas fa-filter"></i> FILTRES</button>
                    <div class="btn-group" role="group">
                        <button id="dropFilter" type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TRIER PAR
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropFilter">
                            <a class="dropdown-item">Nouveautés</a>
                            <a class="dropdown-item">Meilleures Ventes</a>
                            <a class="dropdown-item">Prix croissant</a>
                            <a class="dropdown-item">Prix décroissant</a>
                        </div>
                    </div>
                    <button *ngIf="orientation != null || priceMax != 0 || themeId != 0" id="filter-clear" type="button"
                        class="btn btn-danger text-white" (click)="resetFilters()">
                        <i class="fas fa-times"></i></button>
                </div>
                <p class="my-2 mr-5">{{images.numberOfArticles}} Résultats</p>
            </div>
            <hr>

            <div class="card-container p-4" [@cardAnimation]="images.articles">
                <a [routerLink]="['./' + image.id]" *ngFor="let image of images.articles">
                    <div class="card mx-2 my-1">
                        <img [src]="image.imageUrl">
                        <div class="card-body text-right">
                            <h3><strong><a
                                        [routerLink]="['/artists/' + image.artiste.id]">{{image.artiste.nickName}}</a></strong>
                            </h3>
                            <p>{{image.name}}</p>
                            <p>A partir de: <strong>{{image.price}} €</strong></p>
                        </div>
                    </div>
                </a>
                <div *ngIf="images.articles == ''" class="text-center">
                    <h2>Pas de Résultat :(</h2>
                    <img class="img-fluid" src="/assets/img/no_result.png">
                </div>
            </div>


            <nav>
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled' : page === 1}">
                        <a class="page-link" (click)="getPreviousPage()">Previous</a>
                    </li>
                    <li *ngFor="let index of pages" class="page-item" [ngClass]="{'active' : page == index}">
                        <a class="page-link" (click)="setPage(index)">{{index}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled' : page === numberOfPages}">
                        <a class="page-link" (click)="getNextPage()">Next</a>
                    </li>
                </ul>
            </nav>

        </section>
    </div>
</div>