body {
    overflow-x: hidden;
  }
  #wrapper {
    overflow-x: hidden;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    box-shadow: inset 2px 4px 4px rgba(0,0,0,0.25);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  #sidebar-wrapper .list-group {
    width: 15rem;
    padding: 0 1rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  .list-group-item {
    height: 38px;
    padding: 0.5rem 0;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

/* ========== Cards ========== */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-container a p{
    color: #212529;
}
.card-container a:hover{
    text-decoration: none;
}
.card {
    background-color: #f8f9fa;
    border: none!important;
    overflow: hidden;
    max-width: 37vw;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
@media (max-width: 370px) {
  .card {
    max-width: 80vw;
  }
}

.card h3 {
    margin: 0;
}
.card p {
    margin: 0;
}
.card:hover {
    z-index: 10;
}
.card img {
    height: 200px;
    object-fit: contain;
}

/* ========== Pagination ========== */

.pagination {
    justify-content: center;
}

.isActive{
  background-color : #fff;
}

@media (max-width: 767px) {
  #menu-toggle {
    position: fixed;
    z-index: 10;
    margin-left: -45px;
    margin-top: 100px;
    transform: rotateZ(-90deg);
    border-radius: 0 0 3px 3px;
  }
}