<div class="container-fluid">
    <div class="row" *ngIf="currentArticle != null">
        <div class="col-md-6">
            <section class="container-fluid">
                <img class="img-fluid" [src]="currentArticle.imageUrl">
                <h2 class="mt-3"><a
                        [routerLink]="['/artists/' + currentArticle.artiste.id]">{{currentArticle.artiste.nickName}}</a>
                </h2>
                <h5 class="mb-2">{{currentArticle.name}}</h5>
                <p>{{currentArticle.frDescription}}</p>
            </section>
        </div>
        <div class="col-md-6">
            <section class="container-fluid">
                <h3 class="text-center">Créez votre photographie d'art sur mesure</h3>

                <div class="row text-center my-3">
                    <div class="col">
                        <a [routerLink]="['./format']" routerLinkActive="active" class="btn btn-light btn-lg btn-block">
                            <h4 class="m-0"><i class="fas fa-arrows-alt"></i> Format</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a [routerLink]="['./finish']" routerLinkActive="active" class="btn btn-light btn-lg btn-block" [ngClass]="{ 'disabled': router.url === '/photos/' + currentArticle.id + '/format'}">
                            <h4 class="m-0"><i class="far fa-star"></i> Finition</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a [routerLink]="['./frame']" routerLinkActive="active" class="btn btn-light btn-lg btn-block" [ngClass]="{ 'disabled': router.url === '/photos/' + currentArticle.id + '/finish' || router.url === '/photos/' + currentArticle.id + '/format' }">
                            <h4 class="m-0"><i class="fas fa-crop-alt"></i> Cadre</h4>
                        </a>
                    </div>
                </div>

                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>