<h3 class="mb-4">Données Artiste</h3>

<div class="row mb-1">
    <div class="col-md-2">
        <b>Nom de Scène : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Présentation : </b>
    </div>
    <div class="col-md">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, rem. Libero amet, aspernatur nesciunt dignissimos impedit, qui fuga minima voluptatem vero sunt eos est, odit ipsam ea at temporibus iure.
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Email Pro : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Facebook : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Twitter : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Pinterest : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Instagram : </b>
    </div>
    <div class="col-md">
        Plop
    </div>
</div>