<section class="container">
    <h1 class="text-center">Une question ?</h1>
    <div class="form-group">
        <input type="email" [(ngModel)]="cc" class="form-control" placeholder="Votre Email">
    </div>
    <div class="form-group">
        <select [(ngModel)]="subject" class="form-control" id="subjetcSelect">
            <option selected>Aide pour commander</option>
            <option>Après vente, échange et retour</option>
            <option>Problèmes techniques</option>
            <option>Autres sujets</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Votre Message</label>
        <textarea [(ngModel)]="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <a [href]="mailtoBase" target="_top" class="btn btn-lg btn-primary" (click)="clickSend()">
        Envoyer
    </a>
</section>