<body>
  <app-nav-menu></app-nav-menu>
  <app-ng7-bootstrap-breadcrumb></app-ng7-bootstrap-breadcrumb>
  <div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet" (activate)="onActivate($event)"></router-outlet>
  </div>
  <app-footer></app-footer>
</body>