section {
    margin-top: -1px;
    background-color: #212529;
    min-height: 90vh;
}

/* ========== Cards ========== */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #212529;
    border: none!important;
    overflow: hidden;
    max-width: 37vw;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
.card img {
    height: 300px;
    object-fit: cover;
}
.card .carousel-caption {
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
@media (max-width: 500px) {
  .card {
    max-width: 80vw;
  }
}