<div class="list-group list-group-flush">
    <button *ngFor="let format of formats" class="list-group-item list-group-item-action" (click)="setSelection(format.id)" [ngClass]="{'active' : selection === format.id}">
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" [src]="format.imageUrl" />
            </div>
            <div class="col">
                <div>
                    <b>{{format.frName}}</b> - {{format.size}}
                </div>
                <div>
                    <small>{{format.description}}</small>
                    <br>
                    <b>{{itemPrice * (format.percentagePriceChange / 100) | number:'1.2-2'}}€</b>
                </div>
            </div>
        </div>
    </button>
</div>

<button [routerLink]="selection === 0 ? [] : ['../finish']" class="btn btn-block btn-lg btn-danger text-light mt-3" [ngClass]="{'disabled' : selection === 0}" (click)="saveChoice()">
    Choisir ce format
    <i class="fas fa-caret-right"></i>
</button>